.vscode/**
.vscode-test/**
node_modules/**
src/**
.github
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
images/**
temp/**
.vsix
.kiro/**
.codex/**
.claude/**
.yarn/**
!images/*.png
!images/*.svg
